@model QLTDL22.Models.tbTUYENDULICH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Share/_LayoutUSE.cshtml";
}

<h2>Chi tiết tuyến du lịch</h2>

<div>
    <h4>tbTUYENDULICH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoNgay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNgay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.MaTuyen }) |
    @Html.ActionLink("Back to List", "ShowList")
</p>
