@model IEnumerable<QLTDL22.Models.tbTUYENDULICH>

@{
    ViewBag.Title = "ShowList";
    Layout = "~/Views/Share/_LayoutUSE.cshtml";
}

<h2>Danh sách tuyến du lịch</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaTuyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTuyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoNgay)
        </th>
        <th>
            @Html.ActionLink("Create New", "Create")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTuyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTuyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoNgay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MaTuyen  }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaTuyen }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaTuyen })
        </td>
    </tr>
}

</table>
