@model QLTDL22.Models.tbDANGKY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Share/_LayoutUSE.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/Style.css">
    <link rel="stylesheet" href="~/Content/TW2.css">
</head>
<h2 class="title">Chi tiết đăng ký </h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            <p class="txt">Số đăng ký</p>
        </dt>

        <dt>
            @Html.DisplayFor(model => model.SoDangKy)
        </dt>

        <dt>
            <p class="txt">Mã khách</p>
        </dt>

        <dt>
            @Html.DisplayFor(model => model.MaKhach)
        </dt>

        <dt>
            <p class="txt">Mã chuyến</p>
        </dt>

        <dt>
            @Html.DisplayFor(model => model.MaChuyen)
        </dt>

        <dt>
            <p class="txt">Ngày đăng ký</p>
        </dt>

        <dt>
            @String.Format("{0:dd-MM-yyyy}", Model.NgayDangKy)
        </dt>

        <dt>
            <p class="txt">Tiền đặt cọc</p>
        </dt>

        <dt>
            @Html.DisplayFor(model => model.TienDatCoc)
        </dt>

        <dt>
            <p class="txt">Tiền trả lần 2</p>
        </dt>

        <dt>
            @Html.DisplayFor(model => model.TienTraLan2)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.SoDangKy }, new { @class = "btn" })
    @Html.ActionLink("Trở về", "ShowList", "", new { @class = "btn" })
</p>
