@model IEnumerable<QLTDL22.Models.tbPHONG>

@{
    ViewBag.Title = "ShowList";
    Layout = "~/Views/Share/_LayoutUSE.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/Style.css">
    <link rel="stylesheet" href="~/Content/TW2.css">
</head>
<h2 class="title">Danh sách phòng</h2>
<table class="table">
    <tr>
        <th>Mã loại phòng</th>
        <th>Khách sạn</th>
        <th> Giá 1 ngày</th>
        <th>Trang bị cho phòng</th>
        <th>
            @Html.ActionLink("Thêm mới", "Create", "", new { @class = "btn1" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.MaLoaiPhong)</td>
            <td>@Html.DisplayFor(modelItem => item.KhachSan)</td>
            <td>@Html.DisplayFor(modelItem => item.Gia1Ngay)</td>
            <td> @Html.DisplayFor(modelItem => item.CacTrangBiChoPhong)</td>
            <td class="td-btn">
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaLoaiPhong }, new { @class = "btn1" }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaLoaiPhong }, new { @class = "btn1" }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaLoaiPhong }, new { @class = "btn1" })
            </td>
        </tr>
    }
</table>
