@model QLTDL22.Models.tbPHUONGTIENDICHUYEN

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Share/_LayoutUSE.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/Style.css">
    <link rel="stylesheet" href="~/Content/TW2.css">
</head>
<h2 class="title">Thêm phương tiện</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class="txt">Mã phương tiện</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaPhuongTien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaPhuongTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="txt">Tên phương tiện</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenPhuongTien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenPhuongTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="txt">Giá tiền 1 đơn vị</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaTien1DonVi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaTien1DonVi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="txt">Ghi chú</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn" />
                @Html.ActionLink("Trở về", "ShowList", "", new { @class = "btn" })
            </div>
        </div>
    </div>
}
