@model QLTDL22.Models.tbPHUONGTIENDICHUYEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Share/_LayoutUSE.cshtml";
}

<h2>chi tiết phương tiện </h2>

<div>
    <h4>tbPHUONGTIENDICHUYEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaPhuongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhuongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenPhuongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhuongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTien1DonVi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTien1DonVi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.MaPhuongTien }) |
    @Html.ActionLink("Back to List", "ShowList")
</p>
