@model IEnumerable<QLTDL22.Models.tbKHACH>

@{
    ViewBag.Title = "ShowList";
    Layout = "~/Views/Share/_LayoutUSE.cshtml";
}

<h2 style="text-align:center">Danh sách khách hàng</h2> 
<table class="table" border="1">
    <tr>
        <th>
            Mã khách
        </th>
        <th>
            Tên khách
        </th>
        <th>
            Số CMND
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            @Html.ActionLink("Thêm mới", "Create")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKhach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoCMND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new {  id=item.MaKhach  }) 
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaKhach }) 
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaKhach })
        </td>
    </tr>
}

</table>
